$primary-color: #eb1e79;
$second-color: #af0d56;
$third-color: #eb1e79;
$success-color: #00e676;
$cancel-color: #9E9E9E;

$black-color: #171717;

$grey-color: #C1C1C1;
$grey-color-dark: #757474;
$grey-color-very-dark: #383838;
$grey-color-light: #dbdada;

// Font Sizing
$large-size: 3.8rem;
$meduim-size: 1.8rem;
$small-size: 1.5rem;

// Margin
$page-marrin-top:5rem;
$large-margin:10rem;
$big-margin: 6rem;
$meduim-margin: 4rem;
$small-margin: 2rem;
