// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

.application {
    font-family: bein, sans-serif !important;
    font-weight: 400 !important;
    font-style: normal !important;
    background: #FFF !important;
}
