@font-face {
    font-family: 'bein';
    src: url("~assets/fonts/bein.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sahitya';
    src: url("~assets/fonts/sahitya-regular.ttf");
    font-weight: normal;
    font-style: normal;
}